/* Contenedor principal */
.about-page {
  width: 100%;
  height: auto;
  background: lightblue;
  display: flex;
  justify-content: center;
}


.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  position: relative;
  background: linear-gradient(298deg, rgba(30,50,138,1) 0%, rgba(50,163,172,1) 96%);
  border-radius: 5px;
  padding-bottom: 40px;
}


  @keyframes reveal {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  /* Welcome */
  .welcome__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 10em;
    animation: reveal 1s linear;
  }
  
  .welcome__container img {
    margin:  0 30px;
    width: 450px;
    height: 450px;
  }

  .welcome__container h1 {
      text-align: center;
      color: white;
      font-size: 60px;
      animation: reveal 1s linear;
  }

  .welcome__container span {
    color: lightgray;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px;
    border-bottom: 2px solid lightgray;
  }

  @media (max-width: 950px) {
    .welcome__container {
      flex-direction: column;
      align-items: center;
      padding: 8em 0;
    }

    .welcome__container h1{
      font-size: 40px;
    }

    .welcome__container img {
      margin:  0 30px;
      width: 350px;
      height: 350px;
    }
  }

  /*-------- Card About --------- */

  .about__card {
  animation: reveal 1s linear;
  align-self: center;
  border-radius: 12px;
  background-color: blanchedalmond;
  box-shadow:  10px 10px 12px 0px rgba(107, 107, 107, 0.644);
  padding: 30px;
  color: skyblue;
  width: 90%;
  overflow: hidden;
  }

  .about__card h2 {
    margin-bottom: 20px;
    border-bottom: 3px solid skyblue;
    font-size: 2.5em;
    position: relative;
    z-index: 10;
  }

  .about__card h2::before {
    content: '';
    position: absolute;
    left: -15px;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    opacity: 0.5;
    background: rgb(181, 196, 191);
    z-index: -1;
  }

  .about__card__container {
      display: flex;
      align-items: center;
      margin: 2px;
      padding: 1em 0;
      border-top: 6px solid lightblue;
      border-top-right-radius: 12px;
      border-top-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
      border-bottom: 6px solid lightblue;
  }

  .img__title span {
    background-image: linear-gradient(298deg,rgba(30,50,138,1) 0%, rgba(50,163,172,1) 96%);
    padding: 10px;
    border-radius: 20px;
    color: rgb(238,231,234);
    display: block;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: normal;
    transition: color 0.2s, transform 0.2s, letter-spacing 1s;
    box-shadow: 0 10px 10px -5px rgba(30,50,138,1);
  }
  
  .img__title span:hover {
    color: #94bbe9;
    letter-spacing: 1.5px;
    transform: scale(1.1);
  }
  
  .img__title img {
    margin-bottom: 10px;
    width: 250px;
    height: 250px;
    border-radius: 15px;
    transition: transform 0.2s;
  }

  .img__title img:hover {
    transform: scale(1.2);
  }

  .about__description p{
    margin: 0 1em;
    align-self: flex-start;
    line-height: 32px;
    font-size: 1.5em;
    background: #2778a8;
    padding: .6em;
    border-radius: 20px;
    color: rgb(226, 233, 243);
    box-shadow: 0 10px 10px -5px rgba(0,0,0,.5);
    transition: opacity 0.3s;
  }

  .about__description:hover p {
    opacity: 0.9;
  }

  @media (max-width: 900px) {
    .about__card {
      margin-top: 2em;
    }
    .about__card__container {
      flex-direction: column;
    }

    .about__card__container img, span, p {
      margin-bottom: 1em;
    }

  }

  @media (max-width: 480px) {
    .welcome__container {
      padding: 12em 0;
    }

    .welcome__container h1 {
      font-size: 20px;
    }

    .welcome__container img {
      margin:  0 30px;
      width: 300px;
      height: 300px;
    }

    .img__title span {
      font-size: 15px;
    }

    .about__description p {
      font-size: 1em;
      margin: 0;
    }
  }